annotated-types
anyio
bcrypt
beautifulsoup4
bert-score
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
dnspython
elasticsearch
email_validator
exceptiongroup
elasticsearch
fastapi
fastapi-cli
filelock
firebase-admin
fonttools
fsspec
google
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-cloud-translate
google-crc32c
google-resumable-media
googleapis-common-protos
googletrans
grpc-google-iam-v1
grpcio
grpcio-status
h11
h2
hpack
httpcore
httptools
httpx
huggingface-hub
hyperframe
idna
imageio
imageio-ffmpeg
importlib_resources
Jinja2
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
moviepy
mpmath
networkx
numpy
packaging
pandas
pillow
proglog
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
PyMuPDF
pyparsing
python-dateutil
python-docx
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
rich
rich-toolkit
rsa
safetensors
sentence_transformers
shellingham
six
sniffio
soupsieve
SpeechRecognition
standard-aifc
standard-chunk
starlette
sympy
tokenizer
tokenizers
torch
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
uvloop; platform_system != "Windows"
watchfiles
websockets
zipp
langchain_community.document_loaders
langchain.schema 
langchain_openai
langchain_chroma 
langchain_openai
python-multipart
langchain
unstructured
chromadb
langchain-community
tiktoken
unstructured[md]